.footer,
footer {
    box-shadow: 0-4px 8px #00000080
}

a {
    text-decoration: none !important;
}

a,
body,
h1,
li,
p,
ul {
    margin: 0
}

.card-img-top,
.tour-card img,
.tour-image {
    object-fit: cover;
}

.header .title,
.header h1,
.nav-menu li a,
.offer-item .price,
.price,
.telegram-button,
.tour-card .price,
.tour-price,
.tour-title {
    font-weight: 700
}

.tour-card img {
    max-width: 100%;
    /* border-radius: 4px */
}

.tour-info-block h3 {
    color: #fff
}

#blog-posts h2,
.header h1 {
    color: #f90
}

@media (max-width:1199px) {
    .tour-container {
        flex-direction: column
    }

    .nav-menu {
        display: ruby
    }

    .map {
        display: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

a,
body,
h1,
h2,
li,
p,
ul {
    padding: 0;
    box-sizing: border-box;
    text-align: justify
}

.custom-btn,
.footer,
.header,
.header .overlay,
.header h1,
.offer,
.offers-section,
.tour-card .price,
.tour-price,
footer,
header {
    text-align: center
}

body {
    background-color: #1c1c1c !important;
    color: #fff;
    font-family: Arial, sans-serif
}

.container,
.main-content,
.page,
footer,
form .form-control,
form .form-control:focus {
    background-color: #1c1c1c
}

footer {
    margin-top: 50px;
    background: linear-gradient(45deg, #1e1e1e, #333);
    color: #999;
    font-size: .9em
}

.header h1,
h1 {
    font-size: 3em
}

footer,
header {
    padding: 20px
}

.header {
    background: linear-gradient(45deg, #1e1e1e, #333);
    color: #fff;
    border-bottom: 5px solid #444;
    background-size: cover;
    padding: 0;
    margin-bottom: 60px;
    display: math;
    align-items: flex-end;
    height: 150px;
    width: 100%;
    overflow: hidden;
}

.card-body,
.list-group-item {
    background-color: #333
}

.nav-menu,
.navbar,
.offers,
.row,
.tour-card,
.tour-container,
.tour-footer,
.tour-info {
    display: flex
}

.header .overlay {
    padding: 20px;
    border-radius: 4px;
    display: contents;
    animation: 1s ease-out fadeIn;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .6);
    color: #fff
}

.header .title {
    font-size: 2.5em;
    margin: 0
}

.header .subtitle {
    font-size: 1.5em;
    margin-top: 10px
}

.nav-menu {
    justify-content: space-around;
    width: 100%
}

.nav-menu li {
    margin: 0 15px
}

.nav-menu li a {
    font-size: 1.7em;
    position: relative;
    padding: 10px 15px;
    transition: color .3s
}

.nav-menu li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s cubic-bezier(.92, .1, 0, .46)
}

.nav-menu li a:hover {
    color: #fd7e14
}

.nav-menu li a:hover::after {
    transform: scaleX(1);
    transform-origin: left
}

.post-title {
    font-size: 1.75em
}

.list-group-item {
    margin-bottom: 10px;
    border: 0;
    color: #ccc
}

.card,
.header h1,
.tour-card {
    margin-bottom: 20px
}
.mb-5, .my-5 {
    margin-bottom: 1rem !important;
}

.list-group-item a:hover,
.nav-menu li a {
    text-decoration: none;
    color: #fff
}

form .form-control {
    color: #fff;
    border: 1px solid #333
}

form .form-control:focus {
    color: #fff;
    border: 1px solid #00ff7f
}

h2 {
    color: #fff !important;
    margin: 0 0 20px
}

h5 {
    color: #1c1c1c
}

.card:hover {
    transition: transform .3s ease-in-out;
    transform: scale(1.05);
    box-shadow: 0 10px 20px #00000080
}

.btn-primary:hover {
    background-color: maroon;
    border-color: #004b9b
}

.card {
    border: 0;
    border-radius: 4px;
    overflow: hidden;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out
}

.card-img-top {
    height: 200px
}

.footer {
    background-color: #222;
    border-top: 5px solid #444;
    padding: 20px;
    font-size: .9em;
    margin-top: 40px;
    background: linear-gradient(45deg, #1c1c1c, #333);
    color: #999
}

.container,
.offer-item {
    box-shadow: 0 4px 8px #0003;
    border-radius: 4px
}

.nav-pills .nav-link {
    border-radius: 0;
    background-color: #444
}

.nav-pills .nav-link.active {
    background-color: #ff7f00
}

.offers-section h2 {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #fff
}

.offer-item img {
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 15px
}

.offer-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px
}

.container {
    padding: 20px;
    background-color: #333333a6;
    border-radius: 25px;
    box-shadow: 0px 0px 50px 1px #383838;
}

.offers-section {
    background: linear-gradient(45deg, #1e1e1e, #333);
    padding: 50px 0;
    color: #fff
}

.offer-item {
    background: #444;
    padding: 20px;
    margin: 20px;
    transition: transform .3s
}

.offer-item:hover {
    transform: translateY(-10px)
}

.offer-item .price {
    font-size: 1.4em
}

.header p,
.offer-item p {
    font-size: 1.2em;
    color: #ccc;
    text-align: center
}

.map-container,
.nav-menu {
    box-shadow: inset 0px -5px 6px 0px #00000054;
}

.tour-card .tour-title {
    font-size: 1.5em;
    margin: 15px 0
}

.tour-card .price {
    background: #ff7f00;
    padding: 10px;
    font-size: 1.25rem;
    border-top: 2px solid #fff;
    color: #fff
}

.list-group-item a {
    color: #0cf
}

.map-container,
.tour-card {
    position: relative;
    overflow: hidden
}

.tour-card .content {
    padding: 20px;
    color: #eee
}

.map-container {
    padding-bottom: 30.25%;
    max-width: 100%;
    background: #333;
    border-radius: 4px;
    width: 100%;
    height: 470px;
    position: relative
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    border: none
}

.navbar {
    flex-direction: column-reverse;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    position: relative
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    background-color: #33333324;;
    border-radius: 4px
}

.offer-item .price,
.offer-item h3,
.offer-price,
.tour-card .tour-title,
.tour-price {
    color: #ff7f00
}

.offers {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0
}

.offer {
    background-color: #333;
    border: 2px solid #ff7f00;
    border-radius: 4px;
    box-shadow: 0 4px 8px #0003;
    width: 30%;
    margin: 10px;
    padding: 20px;
    transition: transform .3s
}

.btn-primary,
.custom-btn {
    transition: background-color .3s
}

.offer:hover {
    transform: scale(1.05)
}

.offer-details {
    margin-top: 5px
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
}

.footer-text {
    flex: 1;
    margin-right: 20px;
    font-size: 16px
}

.footer-map {
    flex: 2;
    max-width: 600px
}

.row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.column {
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
    padding: 15px
}

.tour-card {
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 12px #0000001a;
    transition: transform .3s;
}

.tour-image {
    flex: 1 1 calc(33.333% - 10px);
    max-width: 100%;
    height: auto;
}

.tour-card-footer {
    margin-top: auto;
    padding: 15px;
    background-color: #444;
    color: #fff
}

.tour-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px #0003
}

.tour-card img {
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 5px solid #f90;
    height: 200px
}

.carousel-inner img {
    height: 100vh;
    object-fit: cover;
}

.carousel-item img {
    width: 100vw; /* Pełna szerokość widoczna */
    height: 70vh; /* Dostosowanie wysokości */
    background: linear-gradient(180deg, #00000063 100%, #0000000c 69%, #00000000 100%);
}

.carousel-container {
    position: relative;
    margin: 0 auto; /* Wycentrowanie karuzeli */
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Opcjonalne przyciemnienie */
    padding: 20px;
    border-radius: 10px;
}

.tour-info {
    flex-wrap: wrap;
    gap: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px;
    flex: 4;
    text-decoration: none
}

.tour-info a:hover {
    text-decoration: none;
    outline: 0
}

.tour-info-block {
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
    border: 1px solid #6b6b6b
}

.tour-info-block h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px
}

.tour-container {
    align-items: stretch
}

.tour-title {
    color: #333;
    font-size: 1.25rem;
    margin-bottom: 10px
}

.tour-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px
}

.tour-departure,
.tour-duration {
    font-size: .9rem;
    color: #999;
    margin-bottom: 5px
}

.tour-footer {
    justify-content: space-between;
    align-items: center;
    margin-top: auto
}

.tour-price {
    font-size: 1.5rem;
    color: #e74c3c
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: .875rem
}

.price {
    font-size: 1.5rem;
    color: #e74c3c;
    margin-top: 10px
}

.offer-details {
    font-size: .875rem;
    color: #777
}

.details,
.organizational-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 1rem !important
}

.additional-fees,
.included-in-price,
.notes {
    background-color: #f9f9f9;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1)
}

.details h3,
.organizational-details h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333
}

.additional-fees,
.expectations-list p,
.included-in-price,
.notes {
    border-radius: 10px;
}

.expectations-list {
    counter-reset: step
}

.expectations-list p {
    position: relative;
    border-bottom: 1px solid #474747;
    padding-bottom: 10px;
    padding-left: 40px
}

.expectations-list p:before {
    content: counter(step);
    counter-increment: step;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 24px;
    font-weight: 700;
    color: #ff7f00;
    padding-right: 10px
}

.additional-fees,
.included-in-price,
.notes {
    color: #000
}

.details-list strong {
    color: #000;
    font-weight: 600
}

.booking-conditions {
    list-style: disc;
    padding-left: 20px;
    margin-top: 10px
}

.custom-btn,
.telegram-button {
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block
}

.booking-conditions li {
    font-size: .9rem;
    color: #555;
    margin-bottom: 5px
}

.telegram-button {
    background-color: #08c
}

.telegram-button:hover {
    background-color: #069
}

.custom-btn {
    background-color: #4caf50;
    font-size: 16px
}

.custom-btn:hover {
    background-color: #45a049
}

.back-home-button {
    bottom: 20px;
    right: 20px;
    left: 15px;
    top: 15px;
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid #fff;
    z-index: 1000;
    cursor: pointer;
    transition: border-right-color .3s, transform .3s
}

.back-home-button:hover {
    border-right-color: #ff7f00;
    transform: scale(1.2)
}

.fc .fc-daygrid-event {
    background-color: #333; /* Tło wydarzenia */
    color: #fff; /* Kolor tekstu */
    border: 1px solid #666;
}



@media (min-width:1200px) {
    .map {
        width: 100%;
        height: 500px
    }

    .map-container {
        pointer-events: none
    }
}

@media (max-width:770px) {
    .tour-container {
        flex-direction: column
    }

    .nav-menu {
        display: ruby
    }
}

@media (max-width:768px) {
    .back-home-button {
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-right: 12px solid #fff
    }
}

@media (max-width:992px) {
    .column {
        flex: 1 1 calc(50% - 30px)
    }

    .tour-image {
        height: 200px
    }
}

@media (max-width:576px) {
    .column {
        flex: 1 1 100%
    }

    .tour-image {
        height: 150px
    }
}